/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	padding:0 0;
	margin:0 0;
}
p{
	padding:0 0;
	margin:0 0;
}
ul{
	padding:0 0;
	margin:0 0;	
}
body{
	padding:0 0;
	margin:0 0; 
	font-family:'Open Sans', sans-serif;
}
@font-face {
   font-family: 'Dosis-Regular';
   src: url(../fonts/Dosis-Regular.ttf) format('truetype');
}
@font-face {
   font-family: 'Dosis-Medium';
   src: url(../fonts/Dosis-Medium.ttf) format('truetype');
}
@font-face {
   font-family: 'Dosis-Bold';
   src: url(../fonts/Dosis-Bold.ttf) format('truetype');
}
 .logo {
  position: absolute;
  left: 45%;
  top: -96%;
}
.logo h1 a {
	display: inline-block;
  color: #fff;
  font-family: 'Dosis-Medium';
  font-size: 1em;
  text-decoration: none;
  background:#3598DB;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 8px solid #fff;
  padding: 52px 15px;
  height: 160px;
  width: 160px;
}
span.menu {
  display: none;
}
 .top-header {
  margin: 2em 0;
  text-align: center;
  position: relative;
}
.top-menu ul li {
  display: inline-block;
}
.top-menu{
	position: relative;
}
.top-menu ul li a {
  font-size: 1.4em;
  color: #000;
    padding: 0 2em;
  text-decoration: none;
    font-weight: 100;
	font-family: 'Dosis-Medium';
}
.top-menu ul li a:hover{
	color:#3598db;
}
.top-menu ul li:nth-child(3) {
  margin-right: 13em;
}
.header{
	background: url(../images/banner.jpg) no-repeat 0px -127px;
  background-size: cover;
  min-height: 600px;
}
.banner-info{
	float:right;
	width:46%;
	  margin: 13em 0 0 0em; 
}
.banner-info h2{
	color:#fff;
	font-size:3.5em;
	font-family: 'Dosis-Medium';
}
.banner-info p{
	color:#fff;
	font-size:1em;
	line-height:1.8em;
	margin-top:2em;
}
.banner-info a{
	color: #fff;
  padding: 0.6em 3em;
  font-size: 1.1em;
  display: inline-block;
  margin-top: 2.5em;
  border: 2px solid #3598db;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: #3598db;
}
.banner-info a:hover{
	text-decoration:none;
	color:#fff;
	background:transparent;
	border:2px solid #fff;
}
label{
	 font-weight:normal;
}
/*--service--*/
.service{
	padding:5em 0;
}
.icon-pic {
  float: left;
  width: 23%;
}
.icon {
 width: 100px;
  height: 100px;
  display: inline-block;
  border-radius: 50%;
   -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;  
  margin-bottom: 1.5em;
  padding: 32px 0px;
  background:#fff;
  border:2px solid #3598db;
}
.glyphicon-phone:before, .glyphicon-thumbs-up:before, .glyphicon-picture:before,.glyphicon-user:before{
  color:#9F9F9F;
  font-size: 35px;
}
.icon-info {
  float: left;
  width: 74%;
  margin-left: 3%;
}
.icon-info h4 a {
  color: #3E3E3E;
  font-size: 1.3em;
  text-decoration: none;
  display: inline-block;
  font-family: 'Dosis-Medium';
}
.icon-info p {
  font-size: 1em;
  line-height: 1.8em;
  color: #999;
  margin-top:0.7em;
}
.service-grids{
	margin-top:3.5em;
}
.grids2{
	margin-top:3.5em;
}
/*--about--*/
.about{
	padding:2em 0
}
.about-right h3,.service h3,.gallery h3,.blog h3,.contact h3{
	color:#3598db;
	font-size:2.5em;
	font-family: 'Dosis-bold';
	text-align:center;
}
.about-right{
	width:51.8%;
	float:left;
	padding:0em 4em;
}
.about-me{
	width:100%;
	float:left;
	padding:0em 4em;
}
.about-me p{
	color:#999;
	font-size:1em;
	line-height:1.8em;
	margin-top:0.5em;
}
.about-me h4{
	font-size:1.75em;
	font-family: 'Dosis-Medium';
	margin-top:1em;
	color:#3E3E3E;
}
.about-right h4{
	font-size:1.75em;
	font-family: 'Dosis-Medium';
	margin-top:1em;
	color:#3E3E3E;
}
.about-right p{
	color:#999;
	font-size:1em;
	line-height:1.8em;
	margin-top:0.5em;
}
.about-leftt{
	float: left;
  width: 48.2%;
  background: url(../images/img18.jpg) no-repeat 0px -113px;
  min-height: 302px;
  background-size: cover;
}
.about-left{
	float: left;
  width: 48.2%;
  background: url(../images/img1.jpg) no-repeat 0px -113px;
  min-height: 302px;
  background-size: cover;
}
/*----*/
.gallery {
	margin:4em 0;
}
.galry-grids {
  padding: 2px;
}
.galry-grids img {
  width: 100%;
}
.gallery-info{
	margin-top:2.5em;
}
/*----- Strip -----*/
.b-link-stripe{
	position:relative;
	display:block;
	vertical-align:top;
	font-weight: 300;
	overflow:hidden;
}
.b-link-stripe .b-wrapper{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	text-align:center;
	overflow:hidden;
}
.b-link-stripe .b-line{
	position:absolute;
	top:0;
	bottom:0;
	width:20%;
	background:rgba(15, 207, 140, 0.9);
	transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-ms-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	opacity:0;
	visibility:hidden; /* lt-ie9 */
}
img.img-responsive.glry-img {
  width: 100%;
}
/*------Animation effects------*/
.b-animate-go{
	text-decoration:none;
}
.b-animate{
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	visibility: hidden;	
}
.b-animate img{
	display: -webkit-inline-box;
}
/* lt-ie9 */
.b-animate-go:hover .b-animate{
	visibility:visible;
}
.b-from-left{
	position: absolute;
	top: 43%;
    left: -100%;
}
.b-animate-go:hover .b-from-left{
	left: 43%;
}
.b-wrapper:hover {
  background: rgba(185, 207, 237, 0.85);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.body-pic-bottom {
  background-color: #B9CFED;
  width: 100%;
  height: 270px;
  position: absolute;
  bottom: -93px;
  z-index: -12;
}
/*----*/
.blog{
	padding-bottom:3em;
}
.blog-grids{
	margin-top:2.5em;
}
.blog-grid h4 a {
  color: #3598db;
  font-size: 1.3em;
  text-decoration: none;
  display: inline-block;
  font-family: 'Dosis-Medium';
  margin-top:0.7em;
}
.blog-grid p{
	color:#999;
	line-height:1.8em;
	font-size:1em;
	margin-top:1em;
}
.blog-grid span {
	font-size:1em;
	 font-family: 'Dosis-Bold';
	 margin-top:6px;
	   display: block;
}
a.blogs{
  color: #3598db;
  font-size: 1em;
  margin-top: 1.5em;
  display: inline-block;
  text-decoration:none;
}
a.blogs:hover{
	 color:#333;
}
.middleblog-grid{
	width:50%;
	margin:3em auto 0;
	text-align:center;
}
/*--map--*/
.map iframe{
	width:100%;
	min-height:400px;
}
/*--contact--*/
.contact{
	padding:3em 0;
}
.touch-top{
	margin-top:2.5em;
}
.touch-left form input[type="text"]:nth-child(1) {
  margin-right: 25px;
}
.touch-left form  input[type="text"] {
  width: 48%;
  margin: 7px auto;
  color: #999;
  background: none;
  padding: 10px 10px;
  outline: none;
  border: 1px solid #999;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
}
.touch-left form textarea {
  width: 100%;
  margin: 2em 0 0 0;
  color: #999;
  resize: none;
  background: none;
  height: 150px;
  padding: 15px;
  outline: none;
  border: 1px solid #999;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
}
.touch-left form input[type=submit] {
  color: #ffffff;
  padding: 9px 30px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  margin: 27px 0 0 0px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border: 2px solid #3598db;
  background: #3598db;
  transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.touch-left form input[type=submit]:hover{
	border: 2px solid #3598db;
	background: transparent;
	color:#3598db;
}
.touch-right-top:nth-child(1) {
  margin-top: 0;
}
.touch-right-top {
  text-align: center;
  margin-top: 8px;
    color: #999;
}
.touch-right-top p a{
	color:#999;
}
.touch-right-top span.add {
  background-position: 0px 0px;
}
.touch-right-top span.mail {
  background-position: -35px 0px;
}
.touch-right-top span.num {
  background-position: -70px 0px;
}

.touch-right-top span {
  background: url(../images/contact.png) no-repeat;
  width: 35px;
  height: 46px;
  display: block;
  margin: 0 auto;
}
.touch-right-top h4 {
  color: #999;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 0px;
}
/*----*/
.footer{
text-align:center;
background:#000;
padding:3em 0 1em 0;
}
.footer p {
color: #fff;
font-size: 1em;
}
.footer p a{
color: #fff;
}
.social{
margin-top:1.5em;
}
.social i {
width: 27px;
height: 27px;
background: url('../images/social-icons.png') no-repeat 0px 0px;
display: inline-block;
margin:0 5px;
}
a i.facebook{
background-position:-3px -2px;
}
a i.twitter{
background-position: -43px -3px;
}
a i.dribble{
background-position: -83px -3px;
}
a i.google{
background-position:-126px -2px
}
a i.youtube{
background-position:-167px -3px;
}
a i.facebook:hover{
background-position:-3px -36px;
}
a i.twitter:hover{
background-position: -43px -36px;
}
a i.dribble:hover{
background-position: -83px -36px;
}
a i.google:hover{
background-position:-126px -36px
}
a i.youtube:hover{
background-position:-167px -36px;
}
.arrow{
text-align:center;
padding:2em 0 0.5em 0;
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 14px;
	right: 3%;
	overflow: hidden;
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url("../images/to-top1.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}

/*--responsive--*/
@media (max-width: 1280px){
.about-left {
  background: url(../images/img1.jpg) no-repeat 0px -77px;
  min-height: 332px;
  background-size: cover;
}
.about-leftt {
  background: url(../images/img18.jpg) no-repeat 0px -77px;
  min-height: 332px;
  background-size: cover;
}
}
@media (max-width: 1080px){
.top-menu ul li:nth-child(3) {
  margin-right: 11em;
}
.logo {
  left: 42%;
}
.banner-info {
  margin: 8em 0 0 0em;
}
.banner-info h2 {
  font-size: 3em;
}
.header {
  background: url(../images/banner.jpg) no-repeat 0px 0;
  background-size: cover;
  min-height: 494px;
}
}
@media (max-width: 1024px){
.top-menu ul li:nth-child(3) {
  margin-right: 11em;
}
.banner-info {
  margin: 8em 0 0 0em;
}
.banner-info h2 {
  font-size: 3em;
}
.header {
  min-height: 483px;
}
.logo {
  left: 43%;
}
.about-right h4 {
  font-size: 1.6em;
}
.about-left {
  background: url(../images/img1.jpg) no-repeat 0px -2px;
  min-height: 364px;
  background-size: cover;
  width: 52.2%;
}
.about-leftt {
  background: url(../images/img18.jpg) no-repeat 0px -2px;
  min-height: 364px;
  background-size: cover;
  width: 52.2%;
}
.about-right {
  width: 47.8%;
  padding: 0em 2em;
}
.touch-left form input[type="text"]:nth-child(1) {
  margin-right: 19px;
}
}
@media (max-width: 991px){
.top-menu ul li:nth-child(3) {
  margin-right: 12em;
}
.header {
  min-height: 430px;
}
.banner-info h2 {
  font-size: 2.5em;
}
.banner-info {
  margin: 9em 0 0 0em;
  padding: 0 0px 0 79px;
  width: 58%;
}
.banner-info p {
  font-size: 0.9em;
  line-height: 1.6em;
  margin-top: 1.5em;
}
.banner-info a {
  padding: 0.7em 3em;
  font-size: 1em;
  margin-top: 1.5em;
} 
.top-menu ul li a {
  padding: 0 1em;
} 
.icon-pic {
  width: 25%;
}
.icon-info {
  width: 72%;
}
.futr-grid{
  width: 50%;
  float: left;
}
.icon-info p {
  font-size: 0.9em;
}
.glyphicon-phone:before, .glyphicon-thumbs-up:before, .glyphicon-picture:before, .glyphicon-user:before {
  font-size: 27px;
}
.icon {
  width: 80px;
  height: 80px;
  padding: 23px 0px;
}
.icon-info h4 a {
  font-size: 1.2em;
}
.galry-grids {
  padding: 4px;
  width: 33.3%;
  float: left;
}
.blog-grid {
  width: 50%;
  float: left;
}
.about-right p {
  font-size: 0.9em;
  margin-top: 0.7em;
}
.about-left {
  min-height: 341px;
}
.about-leftt {
  min-height: 341px;
}
.blog-grid h4 a {
  font-size: 1.2em;
}
.blog-grid p {
  font-size: 0.9em;
}
}
@media (max-width: 800px){
.logo h1 a {
  font-size: 0.8em;
  padding: 39px 12px;
  height: 126px;
  width: 126px;
}
}
@media (max-width: 768px){
.header {
	   background: url(../images/banner.jpg) no-repeat 0px 0;
	   background-size:cover;
  min-height: 400px;
}
.banner-info h2 {
  font-size: 2em;
}
.logo h1 a {
  font-size: 0.8em;
  padding: 39px 12px;
  height: 126px;
  width: 126px;
}
.banner-info {
  margin: 7em 0 0 0em;
}
.map iframe {
  width: 100%;
  min-height: 320px;
}
.about-right h3, .service h3, .gallery h3, .blog h3, .contact h3 {
  font-size: 2em;
}
.service {
  padding: 3em 0;
}
.icon-info h4 a {
  font-size: 1.1em;
}
.about-right h4 {
  font-size: 1.2em;
}
.about-right a {
  font-size: 0.9em;
  margin-top: 1em;
}
.gallery {
  margin: 2em 0;
}
.blog-grid h4 a {
  font-size: 1.1em;
}
.blog-grid span {
  font-size: 0.9em;
}
.middleblog-grid{
	text-align:left;
}
.touch-left form input[type=submit] {
  font-size: 13px;
}
.arrow {
  padding: 1em 0 0.5em 0;
}
}
@media (max-width: 736px){
.top-menu ul li:nth-child(3) {
  margin-right: 10em;
}
}
@media(max-width:667px){
 span.menu {
  display: block;
  text-align: right;
  cursor: pointer;
  position: relative;
  padding: 1em 0;
}
.top-menu span img{
	display:inline-block;
}
.top-menu {
	width: 100%;
	float: right;
}
.top-menu  ul{
	display:none;
}
.top-menu  ul li {
	font-size: 12px;
	display:inline-block;
	width: 100%;
	margin:0;
}
.top-menu  ul{
	margin: 0;
	z-index: 999;
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0%;	
	background:#fff;
}
.top-menu ul li a {
  padding: 0.4em 0em;
  display: block;
  font-size:1.4em;
}
.top-header {
  margin: 1em 0;
}
.header {
  min-height: 350px;
}
.logo {
  left: 42%;
}
.logo h1 a {
  font-size: 0.7em;
  padding: 31px 8px;
  border: 6px solid #fff;
  height: 100px;
  width: 100px;
}
.top-menu ul li:nth-child(3) {
  margin-right: 0;
}
}
@media(max-width:640px){
 span.menu {
  display: block;
  text-align: right;
  cursor: pointer;
  position: relative;
  padding: 1.5em 0;
}
.top-menu span img{
	display:inline-block;
}
.top-menu {
	width: 100%;
	float: right;
}
.top-menu  ul{
	display:none;
}
.top-menu  ul li {
	font-size: 12px;
	display:inline-block;
	width: 100%;
	margin:0;
}
.top-menu  ul{
	margin: 0;
	z-index: 999;
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0%;	
	background:#fff;
}
.top-menu ul li a {
  padding: 0.4em 0em;
  display: block;
  font-size:1.4em;
}
.top-header {
  margin: 0em 0;
}
.header {
  min-height: 350px;
}
.logo {
  left: 42%;
  top:0;
}
.logo h1 a {
  font-size: 0.7em;
  padding: 31px 8px;
  border: 6px solid #fff;
  height: 100px;
  width: 100px;
}
.banner-info h2 {
  font-size: 1.5em;
}
.banner-info {
  margin: 6em 0 0 0em;
  width: 54%;
  padding: 0 0px 0 45px;
}
.banner-info a {
  padding: 0.6em 3em;
  font-size: 0.85em;
  margin-top: 1em;
}
.futr-grid {
  width: 100%;
  padding: 0;
  margin-bottom: 2em;
}
.icon-pic {
  width: 13%;
}
.icon-info {
  width: 84%;
}
.grids2 {
  margin-top:0em;
}
.service-grids {
  margin-top: 2em;
}
.about-left {
  background: url(../images/img1.jpg) no-repeat 0px -33px;
  min-height: 348px;
  background-size: cover;
  width: 100%;
}
.about-leftt {
  background: url(../images/img18.jpg) no-repeat 0px -33px;
  min-height: 348px;
  background-size: cover;
  width: 100%;
}
.about-right {
  width: 100%;
  padding: 2em 1.5em 0 1.5em;
}
.service {
  padding:2em 0 1em 0;
}
.about {
  padding: 0em 0;
}
.blog-grid {
  width: 100%;
  padding: 0;
  margin-bottom: 2em;
}
a.blogs {
  font-size: 0.9em;
  margin-top: 0.5em;
}
.middleblog-grid {
  margin: 0em auto 0;
}
.touch-left form input[type="text"]:nth-child(1) {
  margin-right: 0;
}
.touch-left form input[type="text"] {
  width: 100%;
}
.map iframe {
  min-height: 250px;
}
.contact {
  padding: 2em 0;
}
.touch-left {
  padding: 0;
}
.touch-top {
  margin-top: 1.5em;
}
.touch-left form textarea {
  margin: 1em 0 0 0;
}
.footer p {
  font-size: 0.9em;
}
.footer {
  padding: 2em 0 1em 0;
}
.top-menu ul li:nth-child(3) {
  margin-right: 0;
}
}
@media(max-width:480px){
span.menu {
  padding: 0.7em 0;
}
.logo h1 a {
  font-size: 0.6em;
  padding: 27px 9px;
  border: 5px solid #fff;
  height: 90px;
  width: 90px;
}
.header {
  background: url(../images/banner.jpg) no-repeat -75px 0px;
  background-size: cover;
  min-height: 335px;
}
.banner-info {
  margin: 4em 0 0 0em;
  width: 54%;
  padding: 0 0px 0 9px;
}
.icon-pic {
  width: 18%;
}
.icon-info {
  width: 76%;
  margin-left: 4%;
}
.icon-info p {
  font-size: 0.85em;
  margin-top: 0.5em;
}
.icon-info h4 a {
  font-size: 1em;
}
.about-left {
  min-height: 283px;
}
.about-leftt {
  min-height: 283px;
}
.about-right p {
  font-size: 0.85em;
}
.about-right a {
  font-size: 0.85em;
  padding: 0.7em 1.5em;
}
.blog-grid p {
  font-size: 0.85em;
  line-height: 1.7em;
}
.touch-left form input[type=submit] {
  font-size: 12px;
  margin: 1em 0 0 0px;
  padding: 9px 27px;
}
.touch-left form input[type="text"],.touch-left form textarea {
  width: 100%;
  font-size: 0.9em;
  padding:10px;
}
.touch-right-top h4 {
  letter-spacing: 0px;
}
}
@media(max-width:414px){
.header {
  background: url(../images/banner.jpg) no-repeat -124px 0px;
  background-size: cover;
}
.banner-info {
  width: 59%;
}
}
@media(max-width:384px){
.header {
  background: url(../images/banner.jpg) no-repeat -158px 0px;
  background-size: cover;
  min-height: 335px;
}
.banner-info {
  width: 65%;
}
}
@media(max-width:320px){
span.menu {
  padding: 1.2em 0;
}
.logo {
  left: 35%;
}
.header {
  background: url(../images/banner.jpg) no-repeat -154px 0px;
  background-size: cover;
  min-height: 276px;
}
.banner-info {
  margin: 3em 0 0 0em;
  width: 80%;
  padding: 0 0px 0 15px;
}
.banner-info p {
  font-size: 0.8em;
}
.banner-info a {
  padding: 0.55em 2.5em;
  font-size: 0.85em;
  margin-top: 1em;
}
.glyphicon-phone:before, .glyphicon-thumbs-up:before, .glyphicon-picture:before, .glyphicon-user:before {
  font-size: 20px;
}
.icon {
  width: 54px;
  height: 55px;
  padding: 14px 0px;
}
.icon-info h4 a {
  font-size: 0.9em;
}
.icon-info {
  width: 76%;
  margin-left: 6%;
}
.about-left {
  min-height: 204px;
  background: url(../images/img1.jpg) no-repeat 0px 0px;
  background-size:cover;
}
.about-leftt {
  min-height: 204px;
  background: url(../images/img18.jpg) no-repeat 0px 0px;
  background-size:cover;
}
.about-right h3, .service h3, .gallery h3, .blog h3, .contact h3 {
  font-size: 1.5em;
}
.service-grids {
  margin-top: 1.5em;
}
.about-right {
  padding: 2em 1em 0 1em;
}
.about-right h4 {
  font-size: 1.1em;
}
.about-right a {
  font-size: 0.8em;
  padding: 0.7em 1.3em;
}
.galry-grids {
  padding: 0px 0 8px 0;
  width: 100%;
}
.gallery-info {
  margin-top: 1.5em;
}
.blog-grids {
  margin-top: 1.5em;
}
.blog-grid h4 a {
  font-size: 0.9em;
}
.blog-grid span {
  font-size: 0.83em;
}
.blog-grid p {
  margin-top: 0.5em;
}
.map iframe {
  min-height: 180px;
}
.touch-left form textarea {
  height: 120px;
}
}